<div class="container">
    <div class="row">
      <div class="col-12 text-center mt-4">
        <h1 class="font-weight-dark text-dark ml-5 mr-5">Sign Up</h1>
        <div class="text-info">Create an Account</div>
      </div>
    </div>
  </div>

  <!--end of welcome title -->

  <!-- signup -->

  <div class="container mb-2 pt-5 pb-5">
    <form class="row g-3" (ngSubmit)="AddUser()">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="uFname" class="form-control"  name="uFname" [(ngModel)]="loginItem.uFname" id="signup_firstName">
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="uLname" class="form-control" name="uLname" [(ngModel)]="loginItem.uLname" id="signup_lastName">
        <span class="error" id="lastname_message"></span>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" name="uEmail" [(ngModel)]="loginItem.uEmail" id="signup_inputEmail4" placeholder="Eg : xyz@gmail.com">  
      </div>
      
      <div class="col-md-6">
      <label for="mobile4" class="form-label">Mobile</label>
      <input type="tel" class="form-control" name="uPhone" [(ngModel)]="loginItem.uPhone" placeholder="Eg : XXX-XXX-XXXX">
      <span class="error" id="mobile_message"></span>
      </div>

      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" name="uPassword" [(ngModel)]="loginItem.uPassword">
     </div>

    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="signup_mobile4">
      
    </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="signup_gridCheck">
          <label class="form-check-label" for="gridCheck">
            Accept terms and conditions
          </label>
        </div>
        <span class="error" id="I_message"></span>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>

  <!-- end of signup -->