<div class="body">
    <div class="head bg-light">
        <img src="../../assets/images/copoo.webp"  width="100%" alt="">
        <div class="centered"><h1>Trainer's TIME</h1></div>
    </div>
    <div class="cont ">
        
        <div class="container text-center"><h3>Programs</h3>
        <div class="row row-cols-3">  <!-- row row-cols-1 row-cols-sm-2 row-cols-md-3 -->
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/MEAN-Stack.jpg" style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Ramya UL<br>Teacher:Shruthi S Nair</p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/MERN-Stack-Development.jpg"  style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Vyshakh B<br>Teacher:Renukha GP</p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/AI & ML.jpg" style="height: 9rem;"class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Uma Shivadasan<br>Teacher:Bindu R</p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/RPA.jpg" style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Shaaz EK<br>Teacher:Praveen TP</p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/cyber.jpg" style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Lokesh Dev<br>Teacher:Amrutha E</p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/Software-Testing.jpg" style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Shekhar P<br>Teacher:Namitha p</p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/Full-Stack-Developer .net.jpg" style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Arya R<br>Teacher:Navya K </p>
                    </div>
                </div>    
              </div>
              <div class="col">
                <div class="card" style="width: 19rem;">
                    <img src="../../assets/images/Digital-Marketing.jpg" style="height: 9rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">HOD:Ashwathi A<br>Teacher:Gogul G nair</p>
                    </div>
                </div>    
              </div>

              





        </div>
</div>




