<div class="container mb-2 pt-5 pb-5">
  <h4> Program Details</h4>
  <form  class="row g-3"(ngSubmit)="onSubmit()">

    <div class="col-md-6">
        <label>Program Name</label>
        <input 
           type="text" 
          [(ngModel)]="program_insert.programtype" 
          name="programtype"
          class="form-control" required
          placeholder="Program Name" >
    </div>

    <div class="col-md-6">
      <label>Number of Candidates </label>
          <input  
            type="number" 
            [(ngModel)]="program_insert.studentsNum"
            name="studentsNum"
            class="form-control" required
            placeholder="Number of Candidates" >
          
    </div>
    
    <div class="col-md-6">
      <label> Program Date </label>
          <input  
            type="date" 
            [(ngModel)]="program_insert.date"  
            name="date"
            class="form-control" required
            placeholder="Program Date" >
    </div>

    <div class="col-12">
      <button type="submit" (click)="reloadCurrentPage()"  class="btn btn-success">{{showUp? 'Update' : 'Save'}}</button>   
    </div>
  </form>
  <div id="btncancel">
    <button class="btn btn-warning" (click)="reloadCurrentPage()">Cancel</button>
  </div>
</div>




 <!-------------------- Program View  ------------------->
 <div style="height:400px; background-color: white;padding: 2%; overflow:auto;">
 <h3>Program Details</h3>
 <table  class="table caption-top">
  <thead >
    <tr>
     
      <th scope="col"> Type of program</th>
      <th scope="col">Number of Candidates</th>
      <th scope="col">Date</th>
    </tr>
  </thead> 
    <tbody>
     
    <tr *ngFor='let program_data of program_view'>
                  
                    <td>{{program_data.programtype }}</td>
                    <td>{{program_data.studentsNum}}</td>
                    <td>{{program_data.date.toString().slice(0,10)}}</td>  
                <td>
                  <div id="btn-edit">
                   <button class="btn btn"  (click)="editProgram(program_data._id); toggleUp()" ><i class="fa-solid fa-pen" style="color:blue ;"></i></button> 
                   <button class="btn btn" (click)="deleteProgram(program_data._id); reloadCurrentPage()" style="margin-left: 5px;"><i class="fa-solid fa-trash-can" style="color:red ;"></i></button> 
                  </div>
                  </td>
            </tr>
    </tbody>
  
</table></div>

