<div class="container">
    <h4> Program Details</h4><br>
    <form  class="form">
        <div class="form-group">
          <label>Program Name: </label>
          <input 
            name="programtype" 
            formControlName="programtypeField"
            id="programtype" 
            type="text" 
            class="form-control" 
            placeholder="Program Name" >
        </div>
        <div class="form-group">
          <label>Number of Candidates: </label>
          <input  
            name="studentsNum" 
            formControlName="studentsNumField"
            id="studentsNum" 
            type="number" 
            class="form-control" 
            placeholder="Number of Candidates" >
        </div>
        <div class="form-group">
          <label>Start Date: </label>
          <input  
            name="startDt" 
            formControlName="startDtField"
            id="startDt" 
            type="date" 
            class="form-control" 
            placeholder="Start Date" >
        </div>
        <div class="form-group">
          <label>End Date:</label>
          <input  
            name="endDt" 
            formControlName="endDtField"
            id="endDt" 
            type="date" 
            class="form-control" 
            placeholder="End Date"  >
        </div>
        
        <br>
        <div class="form-group">
          <button 
            id="btn"
            type="submit" 
            class="form-control btn btn-primary ">Submit
          </button>
        </div>
      </form>
    
      <!-- submit px-3 -->




</div>  