<h3> TIME SHEET</h3>
<div class="container mb-2 pt-5 pb-5">
  <form  class="row g-3" (ngSubmit)="onSubmit()"> 
    <!--  -->
    <div class="col-md-6">
      <label for="tsDate" class="form-label"> Program Date</label>
      <select  name="tsDate" class="form-control"  [(ngModel)]="ts_insert.tsDate">
        <option>Select Program Date</option>
        <option *ngFor="let Program_list of ProgramList">{{Program_list.date.toString().slice(0,10)}}</option> 
      </select>  
    </div>
  
    <div  class="col-md-6">
      <label for="tsProgram" class="form-label"> Program Name </label>
      <select  name="tsProgram" class="form-control" [(ngModel)]="ts_insert.tsProgram">
       <option>Select Program Name</option>
        <option *ngFor="let Program_list of ProgramList">{{Program_list.programtype}}</option> 
          
      </select> 
    </div>
  
 <div class="col-md-6">
      <label for="tsActivity" class="form-label"> Activity Type</label>
      <select  name="tsActivity" class="form-control"  [(ngModel)]="ts_insert.tsActivity">
        
        <option>Select Activity Type</option>
        <option *ngFor="let Activity_list of activityList">{{Activity_list.activityType}}</option>
      </select>
    </div>


    <div class="col-md-6">
      <label for="tsTraining_Mod" class="form-label">Training Mod</label>
      <select  name="tsTraining_Mod" class="form-control" [(ngModel)]="ts_insert.tsTraining_Mod">
        <option>Select Training Mod</option>
        <option *ngFor="let tMod_list of TrainingMod_List">{{tMod_list.trainingMode}}</option>
      </select>
    </div>
       <div class="col-md-6">
      <label for="tsHour" class="form-label">Program Duration</label>
      <input type="number" class="form-control" name="tsHour"  id="signup_inputEmail4" [(ngModel)]="ts_insert.tsHour" placeholder="Enter Program Duration" >  
      <!--   -->
    </div>
  
     <div class="col-md-6">
      <label for="tsCandidateNumber" class="form-label">Number of Candidates</label>
      <input type="number" class="form-control" name="tsCandidateNumber"   id="signup_inputEmail4"  [(ngModel)]="ts_insert.tsCandidateNumber">
    </div><br><br>

    <div class="col-12" >
      <button type="submit" class="btn btn-primary" (click)="reloadCurrentPage()">{{changeButton? 'Update' : 'Save'}}</button>
      <button type="submit" class="btn btn-warning" (click)="reloadCurrentPage()" style="margin-left: 7px;">Cancel</button>
    </div> 
  </form>
  <!-- <button class="btn btn-danger" style="cursor:pointer" style="margin-left: 5px;" (click)="deletePackage();reloadCurrentPage()">Delete</button>
  <button class="btn btn-warning" style="cursor:pointer" style="margin-left: 5px;" (click)="reloadCurrentPage()">Cancel</button> -->
</div>

<!-- <form class="row" >
        <div class="col-md-6">
            <label> Program Date </label>
                <input  
                  name="pDate" 
                  formControlName="pDateField"
                  id="pDate" 
                  type="date" 
                  class="form-control" 
                  placeholder="Program Date" >
          </div>
    
          <div class="col-md-6">
            <div class="dropdown">
                <br>
                <button class="btn btn-secondary dropdown-toggle color " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Program and Batch
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button">Batch 1</button></li>
                  <li><button class="dropdown-item" type="button">Batch 2</button></li>
                  <li><button class="dropdown-item" type="button">Program</button></li>
                </ul>
              </div>
          </div>
    </form>
    <div class="col-12">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div> -->