<!-- <div class="container-fluid ">
    <div class="col-3">
        <button class="but ">Time Sheet</button>
    </div>
    <div class="col-3">
         <button class="but">Salary reciept</button>
    </div>
    <div class="col-3">
          <button class="but">Shedules</button>date field, time, online or physical drop down
    </div>
   
</div>

 -->
 <div class="maindiv">
    <div class="leftdiv">
       <p><a routerLink="trainer-add-timesheet">Add Time Sheet</a></p>

       <!-- <p><a routerLink="trainer-add-expence">Add Expense</a></p> -->
       <p><a routerLink="trainer-salary-reciept">Salary Reciept</a></p>

       <p><a routerLink="add-expense">Add Expense</a></p>
       <p><a routerLink="">Salary Reciept</a></p>

      
    </div>
    <div class="rightdiv">
        <h1>Welcome {{username}}</h1>
        <router-outlet></router-outlet>
    </div>
</div>