<div class="heading" >
    <h3 ng-hide>Trainer Category Details</h3>
    <form (ngSubmit)="onSubmit()">
    <table>
        <tr>
    <th><label id="typelabel">Enter Trainer Category Name:</label></th>
    <!-- <th><input type="text" name="typename" [(ngModel)]="category_insert.trainerCategory"></th> -->
    <th><input type="text" name="typename" [(ngModel)]="category_insert.trainerCategory"></th>
    <!-- <li hidden [(ngModel)]="category_insert.trainerCategory">{{username}}</li> -->
     <th><button class='btn btn-success' type="submit" (click)="reloadCurrentPage()">{{showImage? 'Update' : 'Save'}}</button></th>
    </tr>
    </table>
    </form>
    <button class="btn btn-danger" style="cursor:pointer" style="margin-left: 5px;" (click)="deleteCategory();reloadCurrentPage()">Delete</button>
    <button class="btn btn-warning" style="cursor:pointer" style="margin-left: 5px;" (click)="reloadCurrentPage()">Cancel</button>
</div>
    
    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Category</th>
            </tr>
        </thead>                        
        <tbody>
               <tr *ngFor='let Category of category_view'>
                    <td></td>
                    <td></td>
                    <td>{{Category.trainerCategory}}</td>
                <td>
                   <button class="btn btn-primary" style="cursor:pointer" (click)="editCategory(Category._id); toggleImage()" style="margin-left: 5px;">Select</button>
                   <!-- <button class="btn btn-danger" style="cursor:pointer"  >Delete</button> (click)="deleteRemove(books)" -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
   
    