<div class="color">
    <div class="container">  
        <div class="row text-center align-items-center  pt-3">
            <div class="col-12 col-md-6 mt-5 mb-5">
                    <img src="https://us.123rf.com/450wm/hayaship/hayaship1909/hayaship190900008/131793570-initial-a-in-black-and-white-with-doodle-ornaments-and-design-elements-from-mandala-art-style-for-co.jpg?ver=6" class="img-fluid img-thumbnail" alt="...">
            </div>
            <div class="col-12 col-md-6">
                <div class="font-weight-light pb-3" style="font-size: 25px;">
                    
                    <h2 class="pt-3 text-white">Alphabet Center</h2>
                </div>
                <h5 class="font-weight-light text-white">wide variety of books</h5>
             </div>   
        </div>
    </div>
</div>