<div>
    <p><label> Available Time sheets</label></p>
    
    <p><label>Trainer Name: </label><input type="text" placeholder="Trainer Name"></p>
    <p><label>Date: </label><input type="text" placeholder="Date"></p>
    <p><label>Time: </label><input type="text" placeholder="Time"></p>
    <p><label>Mode of Training: </label><input type="text" placeholder="Mode of training"></p>
    <p>
        <label>Tick for approve</label> <input type="checkbox">
         <button id="approve">Approve</button>
     </p>
    
</div>
