<h3>{{title}}</h3>
<div class="timesheetlist">
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
                <th> Date</th>
                <th> Trainer Name</th>
                <th> Time</th>
                <th>Mode of Training</th>
                <th> Approve</th>
            </tr>

          </thead>
          <tbody>
           
          
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                
                  <input type="checkbox" id="approve" >
            </th>
          </tr>
          <button class="btn btn-primary">
            Approve
        </button>
    </tbody>
        </table>
    </div>

</div>