<header>
    <nav class="navbar bg-silver">
        <div class="container-fluid">
          <img src="../../assets/images/Logo.png" width="28%" height="28%" alt="" class="d-inline-block">
         
            <!-- <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>  -->
                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                <a class="nav-link" routerLink="signin">Sign In</a>
                <a class="nav-link" routerLink="signup">Sign Up</a>
                <a class="nav-link" routerLink="admin-home">Admin</a>
                <a class="nav-link" routerLink="trainer-home">Trainer Home</a>
                <a class="nav-link" routerLink="finance-home">Finance Home</a>
                
        </div>
    
      </nav>
</header>
