<div class="maindiv">
    <div class="lefdiv">
       <p><a routerLink="t-type">Trainer Categories</a></p>
       <p><a routerLink="t-mode">Training Mode</a></p>
       <p><a routerLink="packagetype">Package  Details</a></p>
       <p><a routerLink="programtype">Program  Details</a></p>
       <p><a routerLink="approve">Approve Timesheet</a></p>
       <p><a routerLink="t-details">Trainer Deatils</a></p>
    </div>
    <div class="rightdiv">
        <router-outlet></router-outlet>
    </div>
</div>