<div class="maindiv">
    <div class="leftdiv">
       <p><a routerLink="t-type">Trainer Categories</a></p>
       <p><a routerLink="t-mode">Training Mode</a></p>
       <p><a routerLink="packagetype">Package  Details</a></p>
       <p><a routerLink="programtype">Program  Details</a></p>
       <p><a routerLink="activitytype">Activity Type</a></p>
       <p><a routerLink="approve">Approve Timesheet</a></p>
       <p><a routerLink="t-details">Add Trainer</a></p>
    </div>
    <div class="rightdiv">
        <h1>Wlecome {{username}}</h1>
        <router-outlet></router-outlet>
    </div>
</div>