<div class="container mb-2 pt-5 pb-5">
    <form class="row g-3" (ngSubmit)=onSubmit() >

      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="uFname" class="form-control"  name="uFname"  id="signup_firstName" [(ngModel)]="adminaddtrainer_insert.Ufirstname">  
      </div>
      
      <div class="col-md-6">
         <label for="lastName" class="form-label">Last Name</label>
         <input type="uLname" class="form-control" name="uLname"  id="signup_lastName" [(ngModel)]="adminaddtrainer_insert.Ulastname">
        <span class="error" id="lastname_message"></span>
      </div>
     
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" name="uEmail"  id="signup_inputEmail4" placeholder="Eg : xyz@gmail.com" [(ngModel)]="adminaddtrainer_insert.Uemail" name="uEmail"> 
      </div>
      
      <div class="col-md-6">
      <label for="mobile4" class="form-label">Mobile</label>
      <input type="tel" class="form-control" name="uPhone"  placeholder="Eg : XXX-XXX-XXXX" [(ngModel)]="adminaddtrainer_insert.Umobile"> 
      <span class="error" id="mobile_message"></span>
      </div>

      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" name="uPassword" [(ngModel)]="adminaddtrainer_insert.Upassword" > 
     </div>

    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="signup_mobile4">
    </div>
    <div class="button">
    <button type="submit" value="submit" (click)=" reloadCurrentPage()">{{showImage? 'Update' : 'Save'}}</button> 
    
  </div>
  </form>

  <button class="btn btn-danger" style="cursor:pointer" style="margin-left: 5px;" (click)="deleteTrainerDetails();reloadCurrentPage()">Delete</button>
<button class="btn btn-warning" style="cursor:pointer" style="margin-left: 5px;" (click)="reloadCurrentPage()">Cancel</button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        </tr>
    </thead>                        
    <tbody>
      <tr *ngFor='let details of adminaddtrainer_view'>
          <td>{{details.Ufirstname}}</td>
          <td>{{details.Ulastname}}</td>
          <td>{{details.Uemail}}</td>
          <td>{{details.Umobile}}</td>
          
          <td>
            <button class="btn btn-primary" style="cursor:pointer"  style="margin-left: 5px;" (click)="editTrainerdetails(details._id); toggleImage()">Select</button>
          </td>
      </tr>
      </tbody>
  </table>
</div>
